.App {
  text-align: center;
  display: inline-block;
  background-color: #9494b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tweet-quote {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button {
  text-align: center;
  align-items: center;
  justify-content: center;
  backgroundColor: #009999;
}

#header {
  color: #99e6ff;
}

#rick {
  width: 500px;
  height: 500px;
}

#rick2 {
  width: 500px;
  height: 500px;
}

.card {
  text-align: center;
  font-style: italic;
  align-items: center;
  justify-content: center;
  width: 500px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
